In [1]:
import pandas as pd

In [2]:
# Ruta del archivo Parquet
file_path = 'yellow_tripdata_2024-05.parquet'

# Cargar el archivo Parquet
data = pd.read_parquet(file_path)

In [3]:
data

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2024-05-01 00:59:15,2024-05-01 01:23:50,1.0,6.10,1.0,N,138,145,1,28.20,7.75,0.5,5.00,0.00,1.0,42.45,0.0,1.75
1,2,2024-04-30 23:58:26,2024-05-01 00:29:42,1.0,11.23,1.0,N,138,249,1,46.40,6.00,0.5,8.72,0.00,1.0,66.87,2.5,1.75
2,2,2024-05-01 00:57:17,2024-05-01 01:14:15,1.0,9.02,1.0,N,138,170,1,35.90,6.00,0.5,10.57,6.94,1.0,65.16,2.5,1.75
3,2,2024-05-01 00:24:47,2024-05-01 00:48:51,1.0,6.53,1.0,N,87,133,1,30.30,1.00,0.5,7.06,0.00,1.0,42.36,2.5,0.00
4,2,2024-05-01 00:11:20,2024-05-01 00:52:10,1.0,14.38,1.0,N,161,165,1,61.80,1.00,0.5,0.00,0.00,1.0,66.80,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3723828,2,2024-05-31 23:45:00,2024-06-01 00:09:00,NaN,4.07,NaN,None,88,186,0,29.93,0.00,0.5,0.00,0.00,1.0,33.93,NaN,NaN
3723829,2,2024-05-31 23:10:52,2024-05-31 23:38:05,NaN,4.81,NaN,None,231,143,0,30.71,0.00,0.5,0.00,0.00,1.0,34.71,NaN,NaN
3723830,2,2024-05-31 23:23:57,2024-05-31 23:38:35,NaN,2.03,NaN,None,142,140,0,17.15,0.00,0.5,4.23,0.00,1.0,25.38,NaN,NaN
3723831,2,2024-05-31 23:44:12,2024-05-31 23:47:44,NaN,0.94,NaN,None,141,263,0,-1.00,0.00,0.5,0.00,0.00,1.0,3.00,NaN,NaN
3723832,2,2024-05-31 23:11:10,2024-05-31 23:38:27,NaN,9.25,NaN,None,232,42,0,33.65,0.00,0.5,0.00,0.00,1.0,37.65,NaN,NaN

In [14]:
data.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee'],
      dtype='object')

In [8]:
import pandas as pd
from sqlalchemy import create_engine
import time

In [18]:
while True:
        # Crear una conexiÃ³n a la base de datos SQLite
    engine = create_engine('sqlite:///../taxi_rides.db')
    # Leer la tabla `taxi_rides` en un DataFrame
    df = pd.read_sql_table('taxi_rides', engine)
    print(df[['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime']].tail(10))
    time.sleep(2)

        VendorID tpep_pickup_datetime tpep_dropoff_datetime
221990         2  2024-01-04 16:40:03   2024-01-04 16:56:55
221991         2  2024-01-04 16:24:45   2024-01-04 17:12:51
221992         2  2024-01-04 16:05:55   2024-01-04 16:19:08
221993         2  2024-01-04 16:39:59   2024-01-04 17:05:54
221994         2  2024-01-04 16:39:22   2024-01-04 17:01:12
221995         2  2024-01-04 16:39:22   2024-01-04 17:01:12
221996         1  2024-01-04 16:56:58   2024-01-04 17:29:34
221997         1  2024-01-04 16:06:26   2024-01-04 16:31:18
221998         1  2024-01-04 16:00:37   2024-01-04 16:02:16
221999         1  2024-01-04 16:24:49   2024-01-04 16:41:32
        VendorID tpep_pickup_datetime tpep_dropoff_datetime
224990         2  2024-01-04 17:00:45   2024-01-04 17:19:48
224991         2  2024-01-04 17:39:47   2024-01-04 18:01:22
224992         2  2024-01-04 17:06:18   2024-01-04 17:31:46
224993         1  2024-01-04 17:52:50   2024-01-04 19:03:21
224994         2  2024-01-04 17:04:54   2024-01-04 17:14:18
224995         2  2024-01-04 17:15:21   2024-01-04 17:34:51
224996         2  2024-01-04 17:52:46   2024-01-04 18:07:11
224997         1  2024-01-04 17:08:47   2024-01-04 17:59:02
224998         1  2024-01-04 17:05:36   2024-01-04 17:10:14
224999         1  2024-01-04 17:11:29   2024-01-04 17:16:07
        VendorID tpep_pickup_datetime tpep_dropoff_datetime
227990         1  2024-01-04 17:29:51   2024-01-04 17:38:53
227991         1  2024-01-04 17:56:47   2024-01-04 18:18:57
227992         2  2024-01-04 17:37:33   2024-01-04 18:03:45
227993         2  2024-01-04 17:15:58   2024-01-04 17:20:59
227994         2  2024-01-04 17:59:20   2024-01-04 18:11:50
227995         1  2024-01-04 17:07:44   2024-01-04 17:17:27
227996         1  2024-01-04 17:24:29   2024-01-04 17:28:48
227997         2  2024-01-04 17:25:52   2024-01-04 17:54:40
227998         2  2024-01-04 17:58:11   2024-01-04 18:15:41
227999         1  2024-01-04 17:09:10   2024-01-04 17:14:54
        VendorID tpep_pickup_datetime tpep_dropoff_datetime
230990         2  2024-01-04 17:16:33   2024-01-04 17:35:21
230991         2  2024-01-04 17:36:32   2024-01-04 17:44:24
230992         2  2024-01-04 17:44:50   2024-01-04 18:26:44
230993         2  2024-01-04 17:08:29   2024-01-04 17:26:41
230994         2  2024-01-04 17:53:53   2024-01-04 18:04:44
230995         1  2024-01-04 17:10:13   2024-01-04 17:26:53
230996         1  2024-01-04 17:31:18   2024-01-04 17:38:22
230997         2  2024-01-04 17:40:23   2024-01-04 17:56:29
230998         2  2024-01-04 17:21:58   2024-01-04 17:31:24
230999         2  2024-01-04 17:05:22   2024-01-04 17:31:12
        VendorID tpep_pickup_datetime tpep_dropoff_datetime
233990         2  2024-01-04 18:47:41   2024-01-04 18:57:38
233991         2  2024-01-04 18:13:49   2024-01-04 18:20:13
233992         2  2024-01-04 18:20:34   2024-01-04 18:32:22
233993         2  2024-01-04 18:36:50   2024-01-04 18:53:25
233994         2  2024-01-04 18:55:55   2024-01-04 19:06:11
233995         2  2024-01-04 18:10:01   2024-01-04 18:16:45
233996         2  2024-01-04 18:22:49   2024-01-04 18:26:29
233997         2  2024-01-04 18:40:35   2024-01-04 18:44:12
233998         2  2024-01-04 18:10:33   2024-01-04 18:20:04
233999         2  2024-01-04 18:21:27   2024-01-04 18:36:47
        VendorID tpep_pickup_datetime tpep_dropoff_datetime
235990         1  2024-01-04 18:59:23   2024-01-04 19:16:52
235991         2  2024-01-04 18:34:30   2024-01-04 18:42:34
235992         2  2024-01-04 18:46:41   2024-01-04 18:57:49
235993         2  2024-01-04 18:43:16   2024-01-04 18:57:08
235994         2  2024-01-04 18:34:10   2024-01-04 18:57:28
235995         2  2024-01-04 18:07:52   2024-01-04 18:22:32
235996         2  2024-01-04 18:27:16   2024-01-04 18:40:49
235997         2  2024-01-04 18:57:37   2024-01-04 19:15:35
235998         1  2024-01-04 18:52:18   2024-01-04 19:00:21
235999         2  2024-01-04 18:18:02   2024-01-04 18:34:21
        VendorID tpep_pickup_datetime tpep_dropoff_datetime
238990         2  2024-01-04 18:54:16   2024-01-04 19:00:00
238991         1  2024-01-04 18:20:40   2024-01-04 18:30:20
238992         1  2024-01-04 18:52:17   2024-01-04 19:40:27
238993         2  2024-01-04 18:05:50   2024-01-04 18:50:36
238994         1  2024-01-04 18:07:58   2024-01-04 18:21:21
238995         2  2024-01-04 18:02:37   2024-01-04 18:07:28
238996         2  2024-01-04 18:11:55   2024-01-04 18:42:39
238997         2  2024-01-04 18:49:49   2024-01-04 19:16:41
238998         2  2024-01-04 18:25:51   2024-01-04 18:34:48
238999         2  2024-01-04 18:35:32   2024-01-04 18:46:17

KeyboardInterrupt: